<ng-template #content let-c="close" let-d="dismiss">
<div class="modal-header">
  <h4 class="modal-title">Select Assignee</h4>
  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
          <select id="exampleSelect1" class="form-control" #assigneeName>
              <option value=-1>Please select Assignee</option>
              <option *ngFor="let item of userNames; let i of index" value="{{i}}">{{item}}</option>
          </select>
        </div>
      </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="c(assigneeName)">Close</button>
</div>
</ng-template>